* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Poppins", sans-serif;
}

.App .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 3;
  padding: 5px 0px;
}

.App .navbar .nav_social {
  font-size: 22px;
}

.App .navbar .nav_social .fab {
  margin-right: 10px;
  cursor: pointer;
}

.App .navbar .nav_social .fa-facebook-square {
  color: #4267B2;
}

.App .navbar .nav_social .fa-instagram-square {
  color: #cd486b;
}

.App .navbar .nav_social .fa-twitter-square {
  color: #00acee;
}

.App .navbar .nav_social .fa-pinterest-square {
  color: #c8232c;
}

.App .navbar .nav_center {
  font-size: 18px;
}

.App .navbar .nav_center span {
  margin-right: 12px;
  color: gray;
  cursor: pointer;
}

.App .navbar .nav_center span .link {
  text-decoration: none;
  color: gray;
}

.App .navbar .nav_center span .link:hover {
  text-decoration: underline;
}

.App .navbar .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .nav_right img {
  width: 40px;
  margin-right: 12px;
}

.App .navbar .nav_right .fas {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.App .navbar .nav_right .nav_login_logout span {
  margin: 0px 5px;
  color: gray;
  font-size: 18px;
}

.App .navbar .nav_right .nav_login_logout span .link {
  color: gray;
  text-decoration: none;
}

.App .navbar .nav_right .nav_login_logout span .link:hover {
  text-decoration: underline;
}

.App .home {
  margin-top: 20px;
}

.App .home .header {
  margin-top: 70px;
}

.App .home .header .header_titles {
  position: absolute;
  top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.App .home .header .header_titles .title_small {
  font-size: 20px;
  color: lightgray;
}

.App .home .header .header_titles .title_big {
  font-size: 70px;
}

.App .home .header img {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.App .home .home_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .home .home_content .posts {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.App .home .home_content .posts .post {
  width: 300px;
  margin: 0px 25px 40px 25px;
}

.App .home .home_content .posts .post .post_img {
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-radius: 7px;
}

.App .home .home_content .posts .post .post_img img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.App .home .home_content .posts .post .post_img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.App .home .home_content .posts .post .post_header {
  color: gray;
  text-align: center;
  font-size: 14px;
}

.App .home .home_content .posts .post .post_header span {
  margin-right: 10px;
}

.App .home .home_content .posts .post .post_title {
  text-align: center;
  margin: 5px 0px;
}

.App .home .home_content .posts .post .post_time {
  text-align: center;
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.App .home .home_content .posts .post .post_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.App .home .home_content .sidebar {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.App .home .home_content .sidebar .sidebar_title {
  text-align: center;
  padding: 5px 0px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.App .home .home_content .sidebar .sidebar_img {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .home .home_content .sidebar .sidebar_img img {
  width: 80%;
}

.App .home .home_content .sidebar .sidebar_text {
  padding: 10px 0px;
}

.App .home .home_content .sidebar .sidebar_categories {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .home .home_content .sidebar .sidebar_categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .home .home_content .sidebar .sidebar_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
}

.App .home .home_content .sidebar .sidebar_social .fab {
  margin-right: 10px;
  font-size: 22px;
}

.App .home .home_content .sidebar .sidebar_social .fa-facebook-square {
  color: #4267B2;
}

.App .home .home_content .sidebar .sidebar_social .fa-instagram-square {
  color: #cd486b;
}

.App .home .home_content .sidebar .sidebar_social .fa-twitter-square {
  color: #00acee;
}

.App .home .home_content .sidebar .sidebar_social .fa-pinterest-square {
  color: #c8232c;
}

.App .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .single .single_post {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.App .single .single_post .single_post_image {
  height: 400px;
  margin-top: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.App .single .single_post .single_post_image img {
  width: 100%;
}

.App .single .single_post .single_post_events {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 0px;
}

.App .single .single_post .single_post_events i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.App .single .single_post .single_post_events i:first-child {
  color: teal;
}

.App .single .single_post .single_post_events i:last-child {
  color: tomato;
}

.App .single .single_post .single_post_title {
  text-align: center;
}

.App .single .single_post .single_post_author_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ceaf01;
  margin: 10px 0px;
}

.App .single .single_post .single_post_text {
  margin: 10px 0px;
  text-indent: 20px;
}

.App .single .sidebar {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.App .single .sidebar .sidebar_title {
  text-align: center;
  padding: 5px 0px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.App .single .sidebar .sidebar_img {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .single .sidebar .sidebar_img img {
  width: 80%;
}

.App .single .sidebar .sidebar_text {
  padding: 10px 0px;
}

.App .single .sidebar .sidebar_categories {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .single .sidebar .sidebar_categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .single .sidebar .sidebar_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
}

.App .single .sidebar .sidebar_social .fab {
  margin-right: 10px;
  font-size: 22px;
}

.App .single .sidebar .sidebar_social .fa-facebook-square {
  color: #4267B2;
}

.App .single .sidebar .sidebar_social .fa-instagram-square {
  color: #cd486b;
}

.App .single .sidebar .sidebar_social .fa-twitter-square {
  color: #00acee;
}

.App .single .sidebar .sidebar_social .fa-pinterest-square {
  color: #c8232c;
}

.App .write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .write .write_content {
  width: 70%;
}

.App .write .write_content .write_image {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.App .write .write_content .write_image img {
  width: 100%;
}

.App .write .write_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .write .write_content form .write_events {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.App .write .write_content form .write_events .write_content_title {
  color: gray;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .write .write_content form .write_events .write_content_title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid teal;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.App .write .write_content form .write_events .write_content_title span i {
  font-size: 22px;
  color: teal;
}

.App .write .write_content form .write_events .write_content_title input {
  width: 100%;
  border: none;
  font-size: 22px;
}

.App .write .write_content form .write_events .write_content_title input:focus {
  outline: none;
}

.App .write .write_content form .write_events .write_content_story textarea {
  width: 100%;
  height: 300px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 10px 0px;
}

.App .write .write_content form .write_events .write_content_story textarea:focus {
  outline: none;
}

.App .write .write_content form .write_button {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 10px 0px;
}

.App .write .write_content form .write_button button {
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 10px;
  border: none;
  float: right;
  cursor: pointer;
}

.App .write .write_content form .write_button button:hover {
  background-color: #289c9c;
}

.App .login,
.App .register {
  height: 100vh;
  background: url(http://www.nordic.org.in/login/img/login-whisp.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .login .login_form,
.App .login .register_form,
.App .register .login_form,
.App .register .register_form {
  width: 400px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App .login .login_form .login_title,
.App .login .login_form .register_title,
.App .login .register_form .login_title,
.App .login .register_form .register_title,
.App .register .login_form .login_title,
.App .register .login_form .register_title,
.App .register .register_form .login_title,
.App .register .register_form .register_title {
  text-align: center;
}

.App .login .login_form .login_title h2,
.App .login .login_form .register_title h2,
.App .login .register_form .login_title h2,
.App .login .register_form .register_title h2,
.App .register .login_form .login_title h2,
.App .register .login_form .register_title h2,
.App .register .register_form .login_title h2,
.App .register .register_form .register_title h2 {
  font-weight: 200;
}

.App .login .login_form .login_inputs div input,
.App .login .login_form .register_inputs div input,
.App .login .register_form .login_inputs div input,
.App .login .register_form .register_inputs div input,
.App .register .login_form .login_inputs div input,
.App .register .login_form .register_inputs div input,
.App .register .register_form .login_inputs div input,
.App .register .register_form .register_inputs div input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  margin: 7px 0px;
  border-radius: 7px;
}

.App .login .login_form .login_inputs div input:focus,
.App .login .login_form .register_inputs div input:focus,
.App .login .register_form .login_inputs div input:focus,
.App .login .register_form .register_inputs div input:focus,
.App .register .login_form .login_inputs div input:focus,
.App .register .login_form .register_inputs div input:focus,
.App .register .register_form .login_inputs div input:focus,
.App .register .register_form .register_inputs div input:focus {
  outline: none;
}

.App .login .login_form .login_inputs div button,
.App .login .login_form .register_inputs div button,
.App .login .register_form .login_inputs div button,
.App .login .register_form .register_inputs div button,
.App .register .login_form .login_inputs div button,
.App .register .login_form .register_inputs div button,
.App .register .register_form .login_inputs div button,
.App .register .register_form .register_inputs div button {
  width: 100%;
  padding: 10px 0px;
  font-size: 17px;
  margin: 5px 0px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.App .login .login_form .login_inputs div button:hover,
.App .login .login_form .register_inputs div button:hover,
.App .login .register_form .login_inputs div button:hover,
.App .login .register_form .register_inputs div button:hover,
.App .register .login_form .login_inputs div button:hover,
.App .register .login_form .register_inputs div button:hover,
.App .register .register_form .login_inputs div button:hover,
.App .register .register_form .register_inputs div button:hover {
  background-color: #21a7a7;
}
/*# sourceMappingURL=App.css.map */