* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Poppins', sans-serif;
}

.App .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 3;
  padding: 5px 0px;
}

.App .navbar .nav_social {
  font-size: 22px;
}

.App .navbar .nav_social .fab {
  margin-right: 10px;
}

.App .navbar .nav_center {
  font-size: 18px;
}

.App .navbar .nav_center span {
  margin-right: 12px;
  color: gray;
  cursor: pointer;
}

.App .navbar .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .navbar .nav_right img {
  width: 40px;
  margin-right: 12px;
}

.App .navbar .nav_right .fas {
  font-size: 20px;
  cursor: pointer;
}

.App .header {
  margin-top: 70px;
}

.App .header .header_titles {
  position: absolute;
  top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.App .header .header_titles .title_small {
  font-size: 20px;
  color: lightgray;
}

.App .header .header_titles .title_big {
  font-size: 70px;
}

.App .header img {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.App .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.App .home .posts {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.App .home .posts .post {
  width: 300px;
  margin: 0px 25px 40px 25px;
}

.App .home .posts .post .post_img img {
  width: 100%;
}

.App .home .posts .post .post_header {
  color: gray;
  text-align: center;
  font-size: 14px;
}

.App .home .posts .post .post_header span {
  margin-right: 10px;
}

.App .home .posts .post .post_title {
  text-align: center;
  margin: 5px 0px;
}

.App .home .posts .post .post_time {
  text-align: center;
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.App .home .posts .post .post_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.App .home .sidebar {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.App .home .sidebar .sidebar_title {
  text-align: center;
  padding: 5px 0px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.App .home .sidebar .sidebar_img {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .home .sidebar .sidebar_img img {
  width: 80%;
}

.App .home .sidebar .sidebar_text {
  padding: 10px 0px;
}

.App .home .sidebar .sidebar_categories {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .home .sidebar .sidebar_categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .home .sidebar .sidebar_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
}

.App .home .sidebar .sidebar_social .fab {
  margin-right: 10px;
  font-size: 22px;
}
/*# sourceMappingURL=App.css.map */